<div class="stock-take-info-card">
  <form [formGroup]="infoForm" class="info-form">

    <!-- location -->
    <div class="form-group">
      <label for="location">Location</label>
      <div id="location" class="form-control">
        <option *ngFor="let location of locations$ | async" [value]="location.id">
          {{ location.locationName }}
        </option>
      </div>
    </div>

    <!-- filter -->
    <div class="form-group">
      <label for="groupFilter">Filter</label>
      <div id="filter" class="form-control">
        <option>Group: LD Cont</option>
        <option>ULD Type: All</option>
      </div>
    </div>

    <!-- reference -->
    <div class="form-group">
      <label>Referene</label>
      <div id="filter" class="form-control">
        <option>Group: LD Cont</option>
        <option>ULD Type: All</option>
      </div>
    </div>

    <!-- status -->
    <div class="form-group">
      <label>Status</label>
      <div id="status" class="form-control">
        <option>{{ (stockTakeInfo$ | async)?.statusId }}</option>
      </div>
    </div>

    <!-- start date -->
    <div class="form-group">
      <label>Start Date</label>
      <div id="start-date" class="form-control">
        <option>{{ (stockTakeInfo$ | async)?.startDateLocal | date:'dd MMM YYYY hh:mm' }}</option>
      </div>
    </div>

    <!-- submission date (24 hours ahead) -->
    <div class="form-group">
      <label>Latest submission date</label>
      <div id="filter" class="form-control">
        <option>{{ getLatestSubmissionDate((stockTakeInfo$ | async)?.startDateLocal)| date:'dd MMM YYYY hh:mm' }}</option>
      </div>
    </div>

  </form>
</div>
