
<div class="content-class">

  <div class="header-container">
    <app-stock-take-info (locationsSelected)="onLocationsSelected($event)"></app-stock-take-info>
    <app-save-actions
      (saveDraft)="onSaveDraft()"
      (submit)="onSubmit()"
      (print)="onPrint()"
    ></app-save-actions>

  </div>

  <div>
    <app-add-uld [selectedLocations]="currentLocation" (uldAdded)="onUldAdded($event)"></app-add-uld>
  </div>

  <div>
    <app-stock-take-grid
    [additionalUlds]="additionalUlds"
    [selectedLocation]="currentLocation"
    [newUldToAdd]="newUldToProcess"
    (additionalUldsChanged)="onAdditionalUldsChanged($event)">
  </app-stock-take-grid>
  </div>
</div>
